.custom-button {
  min-width: 130px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #fdfce5;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #f9f3df;
    color: black;
    border: 1px solid #f9f3df;
  }

  &.inverted {
    background-color: #ffb085;
    color: black;
    border: 1px solid #ffb085;

    &:hover {
      background-color: #ff9860;
      color: black;
      border: none;
    }
  }
}
